
/* - Remove one of the two topbars - C3 U3 */
#mega-topbar{
    display: none
}

/* - Remove prompt to make the website user's homepage - C3 */
#mega-banner{
    display: none
}

/* - Make elements discrete unless user hover them - U2 */
#Stream>*, .Col3-stack>*{
    transition: 400ms all ease !important;
    opacity: 0.15;
}
#Stream:hover>*, .Col3-stack:hover>*{
    opacity: 0.3;
}
#Stream>*:hover, .Col3-stack>*:hover{
    opacity: 1;
}

/* - Desaturate logo and links - P1 */
#uh-logo{
    filter: grayscale(100%)  brightness(300%);
}

#atomic .C\(\#4d00ae\) {
    color: grey;
}

.uh-mail-icon, .IconMail{
    color: grey !important;
}
.IconBell {
    color: grey !important;
}

/* - Desaturate search bar and remove glowing effect when landing on the page - U1 */
#atomic .Bgc\(\#0f69ff\) {
    background-color: slategrey;
}
#atomic .Bgc\(\#0f69ff\):hover {
    background-color: lightslategrey;
}
#atomic .Bdc\(\#0f69ff\)\:f:focus, #atomic .Bdc\(\#0f69ff\)\:f {
    border-color: grey;
}

.glow .glow_Bgc\(\$searchBtnGlow\) {
    background-color: slategrey !important;
}
.glow .glow_Bdc\(\$searchBtnGlow\) {
    border-color: grey !important;
}

/* - Desaturate button - U1 P1 */
#atomic .Bdc\(\#6001d2\) {
    border-color: slategrey;
}
#atomic .Bdc\(\#6001d2\):hover {
    background: slategrey;
}
