/* - Center the video if possible - C1 */
#info, #report, #meta, #donation-shelf,
#comments{
  width: auto !important;
}

#player{
  margin: auto !important;
}

/* - Remove some useless suggestion around the video description - C2 */
#related, #ticket-shelf, #merch-shelf {
  display: none !important;
}

.ytd-horizontal-card-list-renderer {
  display: none !important;
}

/* - Remove trending and premium links - P2 */
a[href="/feed/trending"], a[href="/feed/trending?disable_polymer=1"], a[href="/premium"] {
  display: none !important;
}
ytd-guide-entry-renderer, .paper-item.ytd-guide-entry-renderer{
  min-height: auto !important;
}

/* - Simplify youtube logo to make it more discrete - P1 */
#country-code, #logo-container .content-region{
  display: none !important;
}
#logo svg, #logo-container .logo, #footer-logo{
  filter: grayscale(1);
  opacity: 0.5;
}

/* - Remove useless youtube appdrawer - U3 */
div.ytd-masthead>ytd-topbar-menu-button-renderer:nth-child(2){
  display: none !important;
}

/* - Remove right side video suggestions and eventual playlist sidebar (replaced by the playlist button on the top left corner of the video) - P2 C1 */
.watch-sidebar, #secondary{
  display: none !important;
}
.videowall-endscreen{
  display: none !important;
}

/* Playlist button */
.ytp-hide-info-bar .ytp-chrome-top {
    height: 4em!important;
}
.ytp-hide-info-bar .ytp-gradient-top, .ytp-hide-info-bar .ytp-chrome-top .ytp-playlist-menu-button, .ytp-hide-info-bar .ytp-chrome-top .ytp-overflow-button, .ytp-hide-info-bar .ytp-chrome-top .ytp-title {
    display: block;
}
.ytp-hide-info-bar .ytp-chrome-top .ytp-title {
    opacity: 0;
}

/* - Desaturate thumbnails and pictures - U1 */
img.yt-img-shadow{
  filter: saturate(0.8) contrast(0.8)
}

/* - Hide suggested channels. Only work when the channel owner already suggests channels - P2 */
.ytd-browse-secondary-contents-renderer:nth-child(2) {
  display: none !important;
}

/* - Use a neutral color for the bottom video progress bar - P1 */
.ytp-swatch-background-color {
  background-color: #fff;
}

/* - Use a neutral color for the subscribe button and remove sub-count from it - P1 C3 */
paper-button.ytd-subscribe-button-renderer:not([subscribed]),
ytd-button-renderer.style-destructive[is-paper-button] {
  background-color: grey;
}
ytd-button-renderer.style-suggestive[is-paper-button] {
  color: grey;
  border: none;
  background: transparent;
}

.ytd-subscribe-button-renderer:not([subscribed]) .deemphasize{
  display: none!important;
} 

/* - Remove left side annotations. - C3 */
.iv-promo{
  display: none
}
/* - Remove bottom right video branding - U3 */
.iv-branding{
  display: none
}

/* - Remove the theater button - U2 */
.ytp-size-button{
  display: none !important;
}

/* - Remove the minify button - U2 */
.ytp-miniplayer-button{
  display: none !important;
}

/* - Remove the "next video" button when the video is not in a playlist - C2 C3 */
.ytp-next-button{
  display: none !important;
}
.ytp-play-button-playlist+.ytp-next-button{
  display: inline-block  !important;
}

/* - Make video title lowercase except for the first character - U1 */
a.ytd-grid-video-renderer,
.title.ytd-video-primary-info-renderer{
  text-transform: lowercase!important;
  display: block;
}
a.title.ytd-video-primary-info-renderer::first-letter{
  text-transform: uppercase!important;
}

/* Mobile */
/* - Use white for the background color of the navbar of the mobile website - P1 */
.scbrr-tabs, .header-bar{
  background-color: white;
}
.header-bar{
  color: dimgrey;
}
.header-bar svg, 
.scbrr-tab[aria-selected="true"] svg{
  color: dimgrey;
}
.scbrr-tab[aria-selected="true"]{
  border: none
}
.scbrr-tab[aria-selected="false"] svg{
  fill: lightgrey;
}
.scbrr-tabs{
  box-shadow: none;
}
